:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --light: rgba(59, 59, 59, 0.927);
  --primary: rgba(21, 21, 21, 0.956);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: rgb(62, 62, 62);
  /* background-color: rgba(230, 241, 236, 0.222); */
  background-image: url("/woodbg3.jpg");
  background-attachment: fixed;

  /* background-color: rgba(12, 24, 15, 0.849);  */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border: 3px solid var(--primary);
  border-radius: 10px;
}

.custom-box-shadow {
  box-shadow: 2px 1px 15px rgba(129, 144, 155, 0.196);
}

.custom-sidebar-bg-color {
  background-color: rgba(40, 45, 49, 0.685);

}

a {
  color: inherit;
  text-decoration: none;
}

.pfp {
  margin-top: 10px;
  border-radius: 90px;
  opacity: 0.85;
}

/* psuedo class effects */

a img:hover {
  opacity: 0.4;
}

.ninety {
  width: 90%;
}

.eightyfive {
  width: 85%;
}

.eighty {
  width: 80%;
}

.seventyfive {
  width: 75%;
}
.seventy {
  width: 70%;
}

.sixtyfive {
  width: 65%;
}

.sixty {
  width: 60%;
}

.pic {
  height: 100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
