.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 95vh;
}

.container {
  height: 525px;
  margin-left: 20%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 17%;
  border-radius: 10px;
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  max-width: 800px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: 800px;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin-top: 10px;
  margin-bottom: 100px;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.componenth2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  margin-top: 20px;
}

.downloadbtn {
  position: absolute;
  top: 620px;
  bottom: 0;
}

.projects {
  max-width: 650px;
  margin-left: 9%;
  margin-right: 9%;
}

.favicon {
  border-radius: 15px;
  margin-left: 15px;
}

.contact {
  display: inline-flex;
  place-items: center;
  margin-left:  49%;
  margin-right: 20%;
  margin-top: 2%;
  transform: translate( -50%, -50%);
}

.slidecontainer {
  margin-left: 15%;
  margin-right: 14%;
  margin-top: 1%;
}