.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

.container {
  height: 525px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 17%;
  margin-left: 20%;
  max-width: 800px;
}

.projectcontainer {
  padding: 5%;
}

.sidebarContainer {
  position: fixed;
  top: 30vh;
  left: 10px;
  /* background-color: rgb(220, 244, 255); */
  box-shadow: 0px 1px 10px rgb(166, 166, 166);
  background-color: rgb(248, 248, 248);

  padding: 2px;
  border-radius: 20px;
  z-index: 2;
}

.sidebar {
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar li {
  display: block;
  width: 100%;
  margin-bottom: 100px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: 800px;
  width: 100%;
  z-index: 2;
  max-width: 700px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.componenth2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  margin-top: 50px;
  font-size: 20px;
  color: rgb(45, 45, 45);
}

.componenth2darkbg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  margin-top: 50px;
  font-size: 20px;
  color: rgb(210, 219, 208);
}

.favicon {
  margin-left: 15px;
  color: rgb(154, 154, 154);
}

.contact {
  display: inline-flex;
  place-items: center;
  margin-left: 49%;
  margin-right: 20%;
  margin-top: 4%;
  transform: translate(-50%, -50%);
}

.slidecontainer {
  margin-left: 35%;
  margin-top: 0.5%;
}

.formEl {
  position: absolute;
  top: 250%;
  width: 300%;
  right: -106%;
  margin-top: 10px;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* color: rgb(50, 50, 50); */
  color: rgb(252, 252, 252);
}
.barfillcolor {
  /* background: rgba(40, 224, 187, 0.245); */
  background-color: rgba(20, 20, 20, 0.896);
}

.skilltag {
  margin-bottom: 5px;
  margin-top: 10px;
}

.frontend,
.backend {
  display: grid;
  place-items: center;
  padding: 5px;
}

.frontend h2,
.backend h2 {
  padding: 5px;
  text-decoration: underline;
}

.reviewcard {
  margin-bottom: 10px;
  max-width: 350px;
  border-radius: 10px;
  background-color: rgb(28, 28, 28);
  box-shadow: 1px 2px 8px rgb(61, 61, 61);
}

.staricon {
  /* color: rgb(93, 93, 93); */
  color: rgb(72, 81, 78);
  margin-left: 2px;
  max-height: 15px;
  display: inline-block;
}

.footer {
  background-color: rgb(239, 239, 239);
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 20px;
  box-shadow: 0px 1px 10px rgb(166, 166, 166);
  z-index: 2;
}
.footer p {
  text-align: center;
  font-size: xx-small;
  margin-top: 2px;
}

@media screen and (max-width: 893px) {
  .description {
    max-height: 163px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 5px;
  }
}

@media screen and (max-width: 640px) {
  .projects {
    max-width: 280px;
  }
}

@media screen and (max-width: 1100px) {
  .slidecontainer {
    margin-top: 7%;
  }
}

@media screen and (max-width: 800px) {
  .slidecontainer {
    margin-top: 17%;
  }
}

@media screen and (max-width: 560px) {
  .slidecontainer {
    margin-top: 30%;
  }
}

@media screen and (max-width: 355px) {
  .slidecontainer {
    margin-top: 50%;
  }
}
