.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.container {
  height: 525px;
  margin-left: 20%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 17%;
  border-radius: 10px;
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  max-width: 800px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: 800px;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin-top: 50px;
  margin-bottom: 100px;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.componenth2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  margin-top: 20px;
  font-size: 20px;
}

.downloadbtn {
  position: absolute;
  top: 610px;
  bottom: 0;
}

.projects {
  max-width: 660px;
  margin-left: 8%;
  margin-right: 8%;
}

.favicon {
  border-radius: 15px;
  margin-left: 15px;
}

.contact {
  display: inline-flex;
  place-items: center;
  margin-left: 49%;
  margin-right: 20%;
  margin-top: 7%;
  transform: translate(-50%, -50%);
}

.slidecontainer {
  margin-left: 15%;
  margin-right: 14%;
  margin-top: 0.5%;
}

.formEl {
  position: absolute;
  top: 250%;
  width: 300%;
  right: -106%;
  margin-top: 30px;
}

.linkprops {
  position: relative;
  z-index: 1;
}

.skilltag {
  margin-bottom: 5px;
}

.frontend {
  display: grid;
  place-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 5px;
}

.backend {
  display: grid;
  place-items: center;
  padding: 5px;
}

@media screen and (max-width: 893px) {
  .description {
    max-height: 163px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 5px;
  }
}

@media screen and (max-width: 640px) {
  .projects {
    max-width: 280px;
  }
}

@media screen and (max-width: 1100px) {
  .slidecontainer {
    margin-top: 7%;
  }
}

@media screen and (max-width: 800px) {
  .slidecontainer {
    margin-top: 17%;
  }
}

@media screen and (max-width: 560px) {
  .slidecontainer {
    margin-top: 30%;
  }
}

@media screen and (max-width: 355px) {
  .slidecontainer {
    margin-top: 50%;
  }
}
